.main-header {
    height: auto;
    background-color: var(--clr1);
    /* position: fixed; */
    /* width: 100%; */
}

.main-nav>li {
    width: 130px;
    text-align: center;
    border-right: 1px solid black;
}

.main-nav>li:first-child {
    border-left: 1px solid black;
}

.main-nav-container {
    line-height: 130px;
}

.main-nav a:hover {
    color: var(--clr2) !important;
}

.main-nav a {
    text-decoration: none;
    color: var(--clr3);
}

.clicked a {
    color: var(--clr2) !important;
}

.clicked {
    height: auto;
    box-shadow: inset 0px -5px var(--clr2);
}

.main-nav-container a {
    display: block;
}