.modal {
    width: 400px;
    height: 500px;
    background-color: var(--clr1);
    color: var(--clr3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
}

.modal>button {
    align-self: flex-end;
    color: white;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

.modal>button:hover {
    color: rgb(175, 175, 175);
}

.modal-container>* {
    margin: 10px;
    text-align: center;
}

.modal-open {
    /* display: block !important; */
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity .5s !important;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}