.main-layout {
    margin: 0 auto;
    max-width: 980px;
}

.main-content-layout>.card {
    padding-bottom: 70px;
}

.main-content-layout>.card:first-child {
    padding-top: 150px;
}

.main-content-layout,
.page-nav {
    border-left: 1px solid var(--clr10);
    border-right: 1px solid var(--clr10);
}