@media (max-width: 1020px) {
    .main-layout {
        max-width: 700px;
    }
    .card-image {
        max-width: 40%;
    }
    .main-nav>li {
        width: 100px;
    }
    .main-header {
        height: auto;
    }
    .main-nav-container {
        line-height: 100px;
    }
    .clicked {
        height: auto;
    }
    .card-text {
        padding-bottom: 20px;
    }
    .card-title {
        padding-bottom: 10px;
    }
}


/* MOBILE ONLY  */

@media (max-width: 740px) {
    .main-layout {
        max-width: 660px;
    }
    .modal {
        width: 100vw;
        height: 100vh;
    }
    .modal-container {
        margin: 70px;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgb(255 255 255 / 90%);
        height: 100vh;
        min-width: 220px;
        border-left: solid 1px var(--clr6);
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    .main-nav>li,
    .main-nav>a {
        width: 100%;
        line-height: 100px !important;
        height: 100px;
    }
    .main-nav a {
        color: var(--clr1) !important;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -10px 0px 13px rgb(0 0 0 / 16%);
    }
    .main-header .main-nav a {
        display: block;
        padding: 0 1.6rem;
        transition: background-color .3s;
    }
    .main-header .main-nav li {
        border-bottom: solid 1px var(--clr6);
    }
    .card-image {
        margin-inline-end: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
    .card {
        flex-direction: column;
    }
    .btn-menu {
        display: block !important;
    }
}

@media (max-width: 450px) {
    .main-layout {
        max-width: 350px;
    }
}